<!DOCTYPE html>
<html>
<head>
  <title>Markitdown</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h3>Mark it down</h3>
    <hr />
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <div class="container">
    <hr />
  <div class="row">
  <div class="span12">
    <p>Copyright &copy; Erik Skoglund 2013 - <%= Time.now.year %></p>
  </div>
  </div>
  </div>
</body>
</html>
